@{
    ViewBag.Title = "Home Page";
} 
<script src="~/Scripts/_references.js"></script>

<div ng-app="myapp" ng-controller="mapsController" style="height: 600px" > 
    <div style="float: left; width: 70%" class="maps">
        <!-- Add directive code (gmap directive) for show map and markers-->
        <ui-gmap-google-map style="box-shadow:2px 2px 2px 2px lightgrey" center="map.center" zoom="map.zoom">
            <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" 
                            events="marker.events"  icon="marker.icon" idkey="marker.id"> 
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
    
    <!--It displays the markers links-->
    <div style="float: left; width: 300px" class="locations">
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Routes</b></p>
        <ul>
            <li ng-repeat="l in locations" ng-click="ShowLocation(l.LocationID)">
                <div>
                    <pre>{{l.Description}}</pre>
                </div>
            </li>
        </ul>
    </div>
</div>
 
@section Scripts{
    @* AngularJS library *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    @* google map*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>

    <script src="~/Scripts/_map.js"></script>
}