@{
    ViewBag.Title = "Home Page";
} 
<script src="~/Scripts/_references.js"></script>
<style> 
   pre.ng-binding 
   { 
       /*background: mintcream;*/
   }
</style>
<div ng-app="myapp" ng-controller="mapsController" style="height: 600px; padding: 50px" > 
    <!--It displays the markers links-->
    <div style="float: left; margin-right: 50px; width: 300px" class="locations">
        <p><b>Routes - {{getDatetime | date:'MMM dd, yyyy HH:mm'}}</b></p>
        <ul>
            <li style="list-style-type: none;" ng-repeat="l in locations| orderBy: '-ScheduledTime' : true" ng-click="ShowLocation(l.LocationID)">
                <div> 
                    <pre class="panel panel-primary"><a style="font: bold 24pt/80% Arial; text-decoration: none;">{{l.ArrivesIn}}</a><br /><a ng-href="{{l.TripURL}}" target="_blank">{{l.TripID}}</a>
{{l.Description}}</pre>
                </div>
            </li>
        </ul>
    </div>
    <div style="float: left; width: 70%" class="maps">
        <p></p>
        <!-- Add directive code (gmap directive) for show map and markers-->
        <ui-gmap-google-map style="box-shadow: 5px 10px 8px #888888" center="map.center" zoom="map.zoom">
            <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" 
                            events="marker.events"  icon="marker.icon" idkey="marker.id"> 
            </ui-gmap-marker>           
        </ui-gmap-google-map>
    </div> 
</div>
 
@section Scripts{
    @* AngularJS library *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    @* google map*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>

    <script src="~/Scripts/_map.js"></script>
}